.footer {
  background: var(--cpri);
  font-family: var(--ffb);
  font-size: var(--fsbs);

  .item {
    #{--bgi}: transparent;
  }

  .follow {
    position: relative;

    // FIXME: kitalálni vmit
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.2;
      background: var(--cbrx);
      width: var(--bws);
      height: 100%;
      content: '';
    }
  }

  .social {
    #{--sbg}: var(--cb2x);
    #{--sc}: var(--cpri); // sass-lint:disable-line no-duplicate-properties

    opacity: 0.65;
  }

  .iwrp {
    color: var(--cb2x);
  }

  dl {
    dd {
      margin-bottom: var(--gxs);
    }
  }
}

.footer-nav {
  color: var(--cb2x);

  a,
  dd {
    text-decoration: none;
    color: var(--cbrl);
  }

  .contact,
  summary {
    .item {
      #{--ci}: var(--cb2x);
    }
  }
}

.legal {
  color: var(--clgl);
  font-family: var(--ffa);

  a {
    text-decoration: none;
    color: currentColor;
  }
}

@media screen and (max-width: 50em) {
  .footer {
    flex-direction: column;

    details {
      ul {
        padding-bottom: var(--g);
      }
    }

    .hstk-m {
      #{--spc}: 0;

      > * {
        border-top: var(--bws) solid var(--cb2x);
      }
    }

    .follow {
      display: flex;
      padding: var(--gxl) var(--g) var(--g) var(--g); // sass-lint:disable-line shorthand-values
    }

    .social {
      flex-direction: row;

      > * + * {
        margin-top: 0;
        margin-left: var(--spc);
      }
    }

    .iwrp + .social {
      margin-top: 0;
      margin-left: auto;
    }

    .sitemap {
      padding: var(--g); // sass-lint:disable-line shorthand-values
    }

    .contact {
      position: relative;
      padding-top: var(--g);
    }
  }

  .legal {
    margin-top: var(--gxl);
    text-align: center;
    line-height: 2rem;
  }
}
