.grd {
  #{--col}: 4;
  #{--gap}: 0; // sass-lint:disable-line no-duplicate-properties

  display: grid;
  min-width: 0;
  min-height: 0;
  gap: var(--gap); // sass-lint:disable-line no-misspelled-properties
  grid-template-columns: repeat(var(--col), 1fr);

  > * {
    // NOTE: safari hack
    min-width: 0;
  }
}

.grd-2 { #{--col}: 2; }
.grd-3 { #{--col}: 3; }
.grd-5 { #{--col}: 5; }

.grd-2xs { #{--gap}: var(--g2xs); }
.grd-xs  { #{--gap}: var(--gxs); }
.grd-s   { #{--gap}: var(--gs); }
.grd-m   { #{--gap}: var(--g); }
.grd-l   { #{--gap}: var(--gl); }
.grd-xl  { #{--gap}: var(--gxl); }
.grd-2xl { #{--gap}: var(--g2xl); }
