.hero {
  background: var(--cbrn);

  .lyt-left {
    border-right: var(--bws) solid var(--cbrx);
  }

  .social {
    padding-bottom: var(--gxl);
  }

  .ibtn {
    #{--bg}: var(--cb2x);
    #{--c}: var(--cbrn); // sass-lint:disable-line no-duplicate-properties
  }

  .breadcrumb {
    margin-left: var(--gxl);
    padding-bottom: var(--gl);
  }
}

.hero-header {
  border-right: var(--bws) solid var(--cbrx);
  border-left: var(--bwm) solid var(--cpri);

  .ttl {
    max-width: 25ch;
  }
}

.hero-aside {
  .item {
    #{--bgi}: transparent;
  }

  .items { #{--bwitms}: 0; }
}

@media screen and (max-width: 50em) {
  .hero-header {
    margin: 0 var(--g);
    border-top: var(--bwm) solid var(--cpri);
    border-right: 0;
    border-left: 0;
    padding: var(--g) 0 !important;

    .ttl {
      max-width: 25ch;
    }
  }

  .hero-aside {
    details {
      border-top: var(--bws) solid var(--cbrx);
      padding-top: var(--gxs);
    }
  }
}

@media screen and (min-width: 50em) {
  .hero-aside {
    .items { #{--bwitms}: 0; }
  }
}
