.lyr {
  #{--tlyr}: 0;
  #{--bglyr}: #fff; // sass-lint:disable-line no-duplicate-properties
  #{--wlyr}: 100%; // sass-lint:disable-line no-duplicate-properties
  #{--hlyr}: 100%; // sass-lint:disable-line no-duplicate-properties

  display: flex;
  top: var(--tlyr);
  left: 0;
  flex-direction: column;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  background: var(--bglyr);
  width: var(--wlyr);
  height: var(--hlyr);
  overflow-x: hidden;

  .scrl {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-top {
    transform: translateY(-100%);

    &[open] {
      transform: translateY(0);
    }
  }

  &-right {
    transform: translateX(100%);

    &[open] {
      transform: translateX(0);
    }
  }

  &[open] {
    visibility: visible;
    opacity: 1;
  }
}
