.lyt {
  // NOTE: ezt kell használni left/fluid/right-ot tartalmazó elemek közvetlen ősén
  &-parent {
    display: flex;
  }

  // NOTE: ezt kell használni a bal oldalon elhelyezkedő fix szélességű sávhoz
  &-left {
    flex: 0 0 var(--wlytlft);
  }

  // NOTE: ezt kell használni a központi fluid szélességű sávhoz
  &-fluid {
    flex: 1;
  }

  // NOTE: ezt kell használni a jobb oldalon elhelyezkedő fix szélességű sávhoz
  &-right {
    flex: 0 0 var(--wlytrgt);
  }

  // NOTE: ezt kell használni a "ráharapó" tartalmi elemen
  &-offset {
    margin-top: calc(-1 * var(--wlytofs));
  }

  // NOTE: ezt kell használni azon az elemen, ami(k) "fogadják" a "ráharapót"
  &-offset-target {
    padding-bottom: var(--wlytofs);
  }

  // NOTE: ezt kell használni a "ráharapó" legmagasabb ősén
  &-offset-parent {
    z-index: 2;
  }

  // NOTE: ezt kell használni a "fogadó" legmagasabb ősén
  &-offset-target-parent {
    z-index: 1;
  }
}

@media screen and (max-width: 50em) {
  .lyt {
    &-left,
    &-fluid,
    &-right {
      flex: auto;
    }

    &-offset {
      margin-top: 0;
    }

    &-offset-target {
      padding-bottom: 0;
    }
  }
}
