.nav-side {
  padding-right: var(--g);

  .items {
    .item {
      #{--bgi}: transparent;
      #{--pi}: var(--g3xs) var(--g); // sass-lint:disable-line no-duplicate-properties
    }

    .items {
      .item {
        #{--bwi}: var(--bwm);
        #{--bci}: var(--cbrx); // sass-lint:disable-line no-duplicate-properties
        #{--bgi}: var(--cbrm); // sass-lint:disable-line no-duplicate-properties
        #{--pi}: var(--g3xs) var(--g) var(--g3xs) calc(1.5 * var(--g)); // sass-lint:disable-line no-duplicate-properties
      }

      .items {
        .item {
          #{--bwi}: var(--bwl);
          #{--bci}: var(--cb2x); // sass-lint:disable-line no-duplicate-properties
          #{--bgi}: var(--cbrn); // sass-lint:disable-line no-duplicate-properties
          #{--pi}: var(--g3xs) var(--g) var(--g3xs) calc(2 * var(--g)); // sass-lint:disable-line no-duplicate-properties
        }
      }
    }
  }
}
