.nav-mob-sec {
  .items {
    .item {
      #{--pi}: var(--g3xs) var(--g);
    }

    .items {
      .item {
        #{--bgi}: var(--cbrm);
        #{--pi}: var(--g3xs) var(--g) var(--g3xs) calc(1.5 * var(--g)); // sass-lint:disable-line no-duplicate-properties
      }

      .items {
        .item {
          #{--bgi}: var(--cbrn);
          #{--pi}: var(--g3xs) var(--g) var(--g3xs) calc(2 * var(--g)); // sass-lint:disable-line no-duplicate-properties
        }
      }
    }
  }
}
