.nav-sec {
  padding-right: var(--wlytlft);

  .lyt-left {
    border-right: var(--bws) solid var(--cbrx);
  }

  .lyt-fluid {
    padding-bottom: var(--gxl);
  }

  .item {
    #{--bgi}: transparent;
    #{--hi}: 2rem; // sass-lint:disable-line no-duplicate-properties

    &--all {
      #{--ci}: var(--cdrk);
    }
  }

  .items {
    border-top: var(--bwitms) solid var(--bcitms);

    .item {
      #{--hi}: 3rem;
    }
  }
}
