.nav-mob {
  .item {
    #{--pi}: var(--g3xs) var(--g);
  }

  .items {
    .item {
      #{--bgi}: var(--cbrl);
      #{--pi}: var(--g3xs) var(--g) var(--g3xs) calc(1.5 * var(--g)); // sass-lint:disable-line no-duplicate-properties
    }
  }

  .buttons {
    .ibtn {
      #{--bg}: var(--cbrx);
    }
  }

  .social {
    #{--sc}: var(--cbrx);
    #{--sbg}: transparent; // sass-lint:disable-line no-duplicate-properties

    border-top: var(--bws) solid var(--sc);
  }
}
