.nav {
  background: var(--cbrn);
  padding-right: var(--g);
  height: var(--hnav);

  .lyt-left {
    border-right: var(--bws) solid var(--cbrx);
  }

  .item { #{--bgi}: transparent; }

  .ibtn { #{--bg}: var(--cbrx); }

  .iwrp,
  .menu {
    height: var(--hnav);
  }

  .menu {
    padding-left: var(--g);
  }
}

@media screen and (max-width: 50em) {
  .nav {
    border-bottom: var(--bws) solid var(--cbrx);
    padding: 0 var(--g);

    .lyt-left {
      flex: 0 0 var(--dlogo);
      border-right: 0;
    }

    .ibtn { #{--bg}: var(--cbrn); }
  }
}
