.newsletter {
  background: var(--cbrn);
  padding-right: var(--gxl);
  color: var(--cpri);

  .iwrp {
    color: var(--cdrk);

    > * + * {
      margin-left: var(--g2xs);
    }
  }

  hr {
    border: 0;
    background: var(--cbrx);
    width: 5rem;
    height: var(--bwm);
  }
}

@media screen and (max-width: 50em) {
  .newsletter {
    padding-right: var(--g);
    padding-left: var(--g);
    text-align: center;

    .iwrp {
      margin-bottom: var(--g);
    }
  }
}
