.page {
  > * {
    position: relative;
    z-index: 1;
  }

  .nav {
    z-index: 5;
  }

  .nav-sec {
    #{--tlyr}: var(--hnav);
    #{--bglyr}: var(--cbrn); // sass-lint:disable-line no-duplicate-properties
    #{--wlyr}: calc(100% - var(--wlytlft)); // sass-lint:disable-line no-duplicate-properties
    #{--hlyr}: auto; // sass-lint:disable-line no-duplicate-properties

    position: absolute;
    z-index: 4;
  }

  .nav-mob {
    z-index: 6;
  }

  .nav-mob-sec {
    z-index: 7;
  }

  .search-form {
    z-index: 8;
  }

  // .main {}

  .back-to-top {
    z-index: 2;
  }

  // .footer {}

  > .lyr {
    position: fixed;
  }

  > .overlay {
    position: absolute;
    z-index: 3;
  }
}
