// NOTE: children reset

[class^='stk'] > * {
  margin-top: 0;
  margin-bottom: 0;
}

[class^='hstk'] > * {
  margin-right: 0;
  margin-left: 0;
}

// NOTE: default settings

.stk,
.hstk {
  #{--spc}: 0; // space

  display: flex;
  justify-content: flex-start;

  &-2xs { #{--spc}: var(--g2xs, 0.5rem); }
  &-xs  { #{--spc}: var(--gxs, 0.75rem); }
  &-s   { #{--spc}: var(--gs, 1rem); }
  &-m   { #{--spc}: var(--g, 1.5rem); }
  &-l   { #{--spc}: var(--gl, 2rem); }
  &-xl  { #{--spc}: var(--gxl, 3rem); }
  &-2xl { #{--spc}: var(--g2xl, 5rem); }
}

.stk { flex-direction: column; }

.stk > * + * { margin-top: var(--spc); }
.hstk > * + * { margin-left: var(--spc); }

// NOTE: utility classes for flex (stk, hstk) layouts

.fill   { flex: 1; }
.fill-2 { flex: 2; }

.ai-fs  { align-items: flex-start; }
.ai-c   { align-items: center; }
.ai-fe  { align-items: flex-end; }
.ai-s   { align-items: stretch; }

.jc-fs  { justify-content: flex-start; }
.jc-c   { justify-content: center; }
.jc-fe  { justify-content: flex-end; }
.jc-sb  { justify-content: space-between; }

.split-top     { margin-bottom: auto !important; } // sass-lint:disable-line no-important
.split-right   { margin-left: auto !important; } // sass-lint:disable-line no-important
.split-bottom  { margin-top: auto !important; } // sass-lint:disable-line no-important
.split-left    { margin-right: auto !important; } // sass-lint:disable-line no-important
