extends inc/layout
block main
  <!-- main -->
  <main class="main main--publication">

    <!-- hero -->
    <div class="hero lyt-offset-target-parent lyt-parent m-fd-c">

      include inc/hero-social

      <div class="hero-content lyt-fluid lyt-offset-target">
        <div class="stk stk-m">

          <header class="hero-header pad pad-l hpad hpad-xl">
            <div class="stk stk-m">
              <h1 class="ttl ttl-xl">Kötelező és irányadó jogszabályok</h1>
              <p class="bd-xl">A pénzmosás- és a terrorizmusfinanszírozás elleni legfontosabb hazai és nemzetközi jogszabályok, jogi eszközök és ajánlások, illetőleg azok elérhetőségei.</p>
            </div>
          </header>

          include inc/breadcrumb

        </div>

      </div>

      include inc/hero-aside

    </div>

    <div class="content lyt-offset-parent lyt-parent m-fd-cr">
      <div class="main-content lyt-offset lyt-fluid">

        <!-- content-section -->
        <div class="c-toc c-sct lyt-parent">
          <div class="lyt-left iwrp no-mobile">
            <svg class="icn icn-l"><use xlink:href="#i-l-stream"/></svg>
          </div>
          <div class="lyt-fluid in">
            <div class="stk stk-l">
              <h2 class="ttl ttl-m">Szekciók</h2>
              <ul class="grd grd-2xs grd-2">
                <li>
                  <a class="item" href="#">
                    <span class="in">
                      <span class="iwrp">
                        <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-down"/></svg>
                      </span>
                      <span class="lbl bd bd-m">Ajánlások</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="item" href="#">
                    <span class="in">
                      <span class="iwrp">
                        <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-down"/></svg>
                      </span>
                      <span class="lbl bd bd-m">EU jogszabályok</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="item" href="#">
                    <span class="in">
                      <span class="iwrp">
                        <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-down"/></svg>
                      </span>
                      <span class="lbl bd bd-m">Hazai jogszabályok</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="item" href="#">
                    <span class="in">
                      <span class="iwrp">
                        <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-down"/></svg>
                      </span>
                      <span class="lbl bd bd-m">Jogértelmezési kérdések és válaszok</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- content-text -->
        <div class="c-txt">

          <h2 class="ttl ttl-m">A monetáris politika keretrendszere</h2>

          <p>A Magyar Nemzeti Bank 8/2019. (IV.1.) számú ajánlása a hitelintézet által közvetlenül, valamint a kiemelt közvetítő útján végzett pénzváltási tevékenységről</p>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-alt"/></svg>
            </span>
            <span class="lbl">8-2019-penzvaltas-korlatozasa-1.pdf</span>
          </a>

          <p>A Magyar Nemzeti Bank 7/2019. (IV.1.) számú ajánlása a pénzügyi intézmények pénzmosási és terrorizmus finanszírozási kockázatainak értékeléséről, és a kapcsolódó intézkedések meghatározásáról</p>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-alt"/></svg>
            </span>
            <span class="lbl">7-2019-penzmosas-kockazati-tenyezok-2.pdf</span>
          </a>

          <p>A Magyar Nemzeti Bank 6/2019. (IV.1) számú ajánlása a pénzügyi intézmények és azok közvetítői által megkövetelt, a pénzeszközök forrására vonatkozó információkról, valamint ezen információk igazoló ellenőrzése érdekében a pénzeszközök forrására vonatkozó dokumentumok bemutatásáról, a bejelentések alapjául szolgáló adat, tény, körülmény felismerésének elősegítéséről és a magas kockázattal járó ügyletek bejelentéséhez kapcsolódó intézkedésekről</p>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-alt"/></svg>
            </span>
            <span class="lbl">6-2019-sof-magas-kozkazatu-bejelentes.pdf</span>
          </a>

          <p>Magyar Nemzeti Bank 27/2018. (XII.10.) számú ajánlása a belső védelmi vonalak kialakításáról és működtetéséről, a pénzügyi szervezetek irányítási és kontroll funkcióiról</p>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-alt"/></svg>
            </span>
            <span class="lbl">27-2018-belso-vedelmi-vonalak.pdf</span>
          </a>

        </div>

        <!-- content-section -->
        <div class="related c-sct lyt-parent">
          <div class="lyt-left iwrp no-mobile">
            <svg class="icn icn-l"><use xlink:href="#i-l-link"/></svg>
          </div>
          <div class="lyt-fluid in">
            <div class="stk stk-l">
              <h2 class="ttl ttl-m">Kapcsolódó hivatkozások</h2>
              <ul class="lnklst grd grd-2xs grd-2">
                <li>
                  <a class="item item--ext" href="#">
                    <span class="in">
                      <span class="iwrp">
                        <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-down"/></svg>
                      </span>
                      <span class="lbl bd bd-m">Ajánlások archívuma</span>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="item item--ext" href="#">
                    <span class="in">
                      <span class="iwrp">
                        <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-down"/></svg>
                      </span>
                      <span class="lbl bd bd-m">Értékelési módszertan</span>
                      <span class="iwrp">
                        <svg class="icn icn-s"><use xlink:href="#i-l-external-link-square"/></svg>
                      </span>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="item item--ext" href="#">
                    <span class="in">
                      <span class="iwrp">
                        <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-down"/></svg>
                      </span>
                      <span class="lbl bd bd-m">FATF 40 ajánlása</span>
                      <span class="iwrp">
                        <svg class="icn icn-s"><use xlink:href="#i-l-external-link-square"/></svg>
                      </span>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="item item--ext" href="#">
                    <span class="in">
                      <span class="iwrp">
                        <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-down"/></svg>
                      </span>
                      <span class="lbl bd bd-m">Útmutatók és ajánlott gyakorlatok</span>
                      <span class="iwrp">
                        <svg class="icn icn-s"><use xlink:href="#i-l-external-link-square"/></svg>
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        include inc/newsletter

      </div>

      <!-- side-content -->
      <aside class="side-content lyt-right">

        <!-- mobile -->
        <dope-select class="fill fld fld-slct no-desktop">
          <label class="vh">Témakörök</label>
          <span class="in">
            <select property="count" name="qty">
              <option value="">Felügyelet</option>
            </select>
            <span class="additional">
              <svg class="icn icn-xs">
                <use xlink:href="#i-angle-down"/>
              </svg>
            </span>
          </span>
        </dope-select>

        <!-- desktop -->
        include inc/nav-side

      </aside>
    </div>

  </main>
