extends inc/layout
block main
  <!-- main -->
  <main class="main main--podcast">

    <!-- hero -->
    <div class="hero lyt-offset-target-parent lyt-parent m-fd-c">

      include inc/hero-social

      <div class="hero-content lyt-fluid lyt-offset-target">
        <div class="stk stk-m">

          <header class="hero-header pad pad-l hpad hpad-xl">
            <div class="stk stk-m">
              <svg class="icn icn-l">
                <use xlink:href="#i-l-microphone-alt"/>
              </svg>
              <h1 class="ttl ttl-xl">Miért ennyire sikeres a Babaváró hitel? // Nagy Tamás a Popovics Talks vendége</h1>
            </div>
          </header>

          include inc/breadcrumb

        </div>

      </div>

      include inc/hero-aside

    </div>

    <div class="content lyt-offset-parent lyt-parent m-fd-cr">
      <div class="main-content lyt-offset lyt-fluid">

        <!-- content-section -->
        <div class="c-mbd">
          <span class="md md-05625">
            <span class="in">
              <iframe src="https://www.youtube.com/embed/vYVx7ToHgEQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </span>
          </span>
        </div>

        <!-- content-text -->
        <div class="c-txt">
          <p>A gyermeket vállaló párok számára nagy segítség a babaváró hitel, hiszen ez a legkedvezőbb szabad felhasználású hitel a piacon. Nem csoda, hogy már több mint százezren igényelték. Mire használják fel a megigényelhető 10 millió forintot? Többek között erről is beszélt Nagy Tamás, akivel Durkó Anett beszélgetett.</p>
          <p>Ut scelerisque turpis quis lacus faucibus lacinia. Integer aliquam eros vitae turpis facilisis condimentum. Phasellus nec vestibulum neque. Phasellus vel pulvinar neque, a facilisis nunc. Aenean eros massa, interdum vitae purus ut, tincidunt consequat lorem. Nunc ac lacus rhoncus, malesuada lectus quis, gravida purus. Sed quis sem magna. Curabitur sit amet lobortis tellus. Ut malesuada faucibus turpis nec elementum. Sed et dolor quis eros tempus convallis. Etiam metus sem, interdum nec risus id, pellentesque pulvinar est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ultricies, diam a rutrum vehicula, tortor eros iaculis ante, vel vehicula sem felis eget elit.</p>
        </div>

        include inc/newsletter

      </div>

      <!-- side-content -->
      <aside class="side-content lyt-right">

        <!-- mobile -->
        <dope-select class="fill fld fld-slct no-desktop">
          <label class="vh">Témakörök</label>
          <span class="in">
            <select property="count" name="qty">
              <option value="">Podcastok</option>
            </select>
            <span class="additional">
              <svg class="icn icn-xs">
                <use xlink:href="#i-angle-down"/>
              </svg>
            </span>
          </span>
        </dope-select>

        <!-- desktop -->
        include inc/nav-side

      </aside>

    </div>

  </main>
