extends inc/layout
block main
  <!-- main -->
  <main class="main main--publication">

    <!-- hero -->
    <div class="hero lyt-offset-target-parent lyt-parent m-fd-c">

      include inc/hero-social

      <div class="hero-content lyt-fluid lyt-offset-target">
        <div class="stk stk-m">

          <header class="hero-header pad pad-l hpad hpad-xl">
            <div class="stk stk-m">
              <svg class="icn icn-l"><use xlink:href="#i-l-file-alt"/></svg>
              <h1 class="ttl ttl-xl">Növekedési jelentés - 2019. december</h1>
            </div>
          </header>

          include inc/breadcrumb

        </div>

      </div>

      include inc/hero-aside

    </div>

    <div class="content lyt-offset-parent lyt-parent m-fd-cr">
      <div class="main-content lyt-offset lyt-fluid">

        <!-- content-section -->
        <div class="c-mbd">
          <span class="md md-05625">
            <span class="in">
              <iframe src="https://www.youtube.com/embed/vYVx7ToHgEQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </span>
          </span>
        </div>

        <!-- content-text -->
        <div class="c-txt">
          <p>Duis et faucibus mauris. In dapibus non risus vel volutpat. Suspendisse ultrices imperdiet augue, id varius nisi tristique id. Sed tellus urna, dignissim quis erat eget, pellentesque lobortis dolor. Quisque nec dui laoreet, interdum sem eu, fringilla mauris. Ut ac congue risus.</p>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-pdf"/></svg>
            </span>
            <span class="lbl">27-2018-belso-vedelmi-vonalak.pdf</span>
          </a>

          <h2 class="ttl ttl-m">Ábrák és adatsorok</h2>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-excel"/></svg>
            </span>
            <span class="lbl">Ábrák és adatsorok I. fejezet / Charts and Data Series Chapter I.xls</span>
          </a>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-excel"/></svg>
            </span>
            <span class="lbl">Ábrák és adatsorok II. fejezet / Charts and Data Series Chapter II.xls</span>
          </a>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-excel"/></svg>
            </span>
            <span class="lbl">Ábrák és adatsorok III. fejezet / Charts and Data Series Chapter III.xls</span>
          </a>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-excel"/></svg>
            </span>
            <span class="lbl">Ábrák és adatsorok IV. fejezet / Charts and Data Series Chapter IV.xls</span>
          </a>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-excel"/></svg>
            </span>
            <span class="lbl">Ábrák és adatsorok V. fejezet / Charts and Data Series Chapter V.xls</span>
          </a>

          <a class="cb-file" href="#">
            <span class="iwrp">
              <svg class="icn"><use xlink:href="#i-l-file-excel"/></svg>
            </span>
            <span class="lbl">Ábrák és adatsorok VI. fejezet / Charts and Data Series Chapter VI.xls</span>
          </a>

        </div>

        include inc/newsletter

      </div>

      <!-- side-content -->
      <aside class="side-content lyt-right">

        <!-- mobile -->
        <dope-select class="fill fld fld-slct no-desktop">
          <label class="vh">Témakörök</label>
          <span class="in">
            <select property="count" name="qty">
              <option value="">Kiadványok</option>
            </select>
            <span class="additional">
              <svg class="icn icn-xs">
                <use xlink:href="#i-angle-down"/>
              </svg>
            </span>
          </span>
        </dope-select>

        <!-- desktop -->
        include inc/nav-side

      </aside>
    </div>

  </main>
