extends inc/layout
block main
  <!-- main -->
  <main class="main main--video">

    <!-- hero -->
    <div class="hero lyt-offset-target-parent lyt-parent m-fd-c">

      include inc/hero-social

      <!-- hero-content -->
      <div class="hero-content lyt-fluid lyt-offset-target">
        <div class="stk stk-m">

          <header class="hero-header pad pad-l hpad hpad-xl">
            <div class="stk stk-m">
              <svg class="icn icn-l"><use xlink:href="#i-l-video"/></svg>
              <h1 class="ttl ttl-xl">Az utalások 92%-a 2 mp alatt teljesül az új azonnali fizetési rendszer bevezetésével</h1>
            </div>
          </header>

          include inc/breadcrumb

        </div>

      </div>

      include inc/hero-aside

    </div>

    <div class="content lyt-offset-parent lyt-parent m-fd-cr">
      <div class="main-content lyt-offset lyt-fluid">

        <!-- content-section -->
        <div class="c-mbd">
          <span class="md md-05625">
            <span class="in">
              <iframe src="https://www.youtube.com/embed/vYVx7ToHgEQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </span>
          </span>
        </div>

        <!-- content-text -->
        <div class="c-txt">

          <h2 class="ttl ttl-m">Hazai jogszabályok</h2>

          <p>Duis et faucibus mauris. In dapibus non risus vel volutpat. Suspendisse ultrices imperdiet augue, id varius nisi tristique id. Sed tellus urna, dignissim quis erat eget, pellentesque lobortis dolor. Quisque nec dui laoreet, interdum sem eu, fringilla mauris. Ut ac congue risus.</p>

          <p>Duis et faucibus mauris. In dapibus non risus vel volutpat. Suspendisse ultrices imperdiet augue, id varius nisi tristique id. Sed tellus urna, dignissim quis erat eget, pellentesque lobortis dolor. Quisque nec dui laoreet, interdum sem eu, fringilla mauris. Ut ac congue risus.</p>

        </div>

        include inc/newsletter

      </div>

      <!-- side-content -->
      <aside class="side-content lyt-right">

        <!-- mobile -->
        <dope-select class="fill fld fld-slct no-desktop">
          <label class="vh">Témakörök</label>
          <span class="in">
            <select property="count" name="qty">
              <option value="">Videók</option>
            </select>
            <span class="additional">
              <svg class="icn icn-xs">
                <use xlink:href="#i-angle-down"/>
              </svg>
            </span>
          </span>
        </dope-select>

        <!-- desktop -->
        include inc/nav-side

      </aside>

    </div>

  </main>
