input,
textarea,
select {
  border: 0;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  &:focus {
    outline: 0;
  }
}

select,
input:not([type='radio']):not([type='checkbox']), // sass-lint:disable-line force-pseudo-nesting
textarea {
  #{--brf}: var(--brfld);

  border: var(--bwm) solid var(--bcfld);
  border-radius: var(--brf);
  box-sizing: content-box;
}

select, // sass-lint:disable-line no-mergeable-selectors
input:not([type='radio']):not([type='checkbox']), // sass-lint:disable-line force-pseudo-nesting
textarea {
  padding-right: var(--gxs);
  padding-left: var(--gxs);
  width: calc(100% - (2 * var(--gxs)) - (2 * var(--bwm)));

  &:focus {
    box-shadow: 0 0 0 var(--bwl) var(--cfoc);
  }
}

select,
input:not([type='radio']):not([type='checkbox']) { // sass-lint:disable-line force-pseudo-nesting
  height: calc(var(--hfld) - (2 * var(--bwm)));
  line-height: 1;
}

select {
  padding-right: var(--dibtn);
  width: calc(100% - var(--gxs) - var(--dibtn) - (2 * var(--bwm)));
  appearance: none;
}

textarea {
  padding-top: var(--gxs);
  padding-bottom: var(--gxs);
  height: 12rem;
  line-height: 1.4;
  resize: none;
}
