.fld {
  > .in {
    display: block;
    position: relative;
  }

  .info {
    display: flex;
    flex-direction: column;

    > *:not([hidden]) {
      margin-top: var(--g3xs);
    }
  }

  .hint,
  .msg,
  .err {
    font-size: var(--fsbs);
  }

  .err {
    color: var(--cerr);
  }
}

.fld-txt,
.fld-txta,
.fld-pw,
.fld-slct {
  display: flex;
  flex-direction: column;

  > .lbl + * {
    margin-top: var(--g3xs);
  }
}

.fld-slct,
.fld-pw {
  .in {
    .additional {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      align-items: center;
      justify-content: center;
      z-index: 1;
      margin-top: calc((var(--hfld) - var(--dibtn)) / 2);
      width: var(--dibtn);
      height: var(--dibtn);
    }
  }
}

.fld-slct {
  .in {
    position: relative;

    select {
      position: relative;
      z-index: 2;
    }
  }
}

.fld-pw {
  [type='password'] {
    & + .additional .ibtn-hide { // sass-lint:disable-line force-element-nesting
      display: none;
    }
  }

  [type='text'] {
    & + .additional .ibtn-show { // sass-lint:disable-line force-element-nesting
      display: none;
    }
  }
}

dope-checkbox,
dope-checkbox label { // sass-lint:disable-line force-element-nesting
  display: inline-block;
}
