.icn {
  #{--d}: var(--dicn);

  display: block;
  width: var(--d);
  height: var(--d);

  &-2xs { #{--d}: var(--dicn2xs); }
  &-xs  { #{--d}: var(--dicnxs); }
  &-s   { #{--d}: var(--dicns); }
  &-l   { #{--d}: var(--dicnl); }
}
