.ibtn {
  #{--d}: var(--dibtn);
  #{--bg}: var(--bgibtn); // sass-lint:disable-line no-duplicate-properties
  #{--c}: currentColor; // sass-lint:disable-line no-duplicate-properties

  display: flex;
  position: relative;
  flex: 0 0 var(--d); // NOTE: force size in flex context
  align-items: center;
  justify-content: center;
  transition: box-shadow var(--tdibtn) ease-in-out;
  border-radius: 100%;
  background: var(--bg);
  width: var(--d);
  height: var(--d);
  text-align: center;
  line-height: var(--dicn);
  color: var(--c);
  font-size: var(--fsbs);
  font-weight: var(--fwb);

  .tt {
    top: 100%;
    transform: translateX(-50%);
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity var(--tdibtn) ease-in-out;
    opacity: 0;
    border-radius: 100%;
    background: currentColor;
    width: 100%;
    height: 100%;
    content: '';
  }

  &:focus,
  &:hover {
    outline: 0;

    &::after {
      opacity: 0.5;
    }
  }

  &:focus {
    box-shadow: 0 0 0 var(--bwl) var(--cfoc);
  }

  &-s { #{--d}: var(--dibtns); }
  &-l { #{--d}: var(--dibtnl); }
}
