// NOTE: legacy média elem
.img,
// NOTE: új típusú médiam elem
.md {
  #{--r}: 100%;

  display: block;
  width: 100%;
  overflow: hidden;

  .in,
  &__in {
    display: block;
    position: relative;
    padding-top: var(--r);
    height: 0;
  }

  iframe,
  video,
  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-05625 { #{--r}: 56.25%; }
}
