.item {
  #{--bwi}: 0;
  #{--bci}: transparent; // sass-lint:disable-line no-duplicate-properties
  #{--bgi}: #fff; // sass-lint:disable-line no-duplicate-properties
  #{--pi}: 0; // sass-lint:disable-line no-duplicate-properties
  #{--hi}: 3rem; // sass-lint:disable-line no-duplicate-properties
  #{--ci}: var(--cpri); // sass-lint:disable-line no-duplicate-properties
  #{--gapi}: var(--g2xs); // sass-lint:disable-line no-duplicate-properties

  display: block;
  border-left: var(--bwi) solid var(--bci);
  background: var(--bgi);
  cursor: pointer;
  width: 100%;
  height: var(--hi);
  text-decoration: none;
  color: var(--ci);

  > .in {
    display: flex;
    align-items: center;
    padding: var(--pi);
    height: var(--hi);
    box-sizing: border-box;

    > * + * {
      margin-left: var(--gapi);
    }

    > .lbl {
      flex: 1;
      text-align: left;
    }
  }

  .icn {
    &--open {
      display: block;
    }

    &--close {
      display: none;
    }

    &--xpd {
      transition: transform 150ms ease-in-out;
    }
  }

  &[open] {
    .icn {
      &--open {
        display: none;
      }

      &--close {
        display: block;
      }
    }
  }
}

details[open] > summary .item, // sass-lint:disable-line force-element-nesting force-attribute-nesting no-qualifying-elements
.item[aria-active='true'] { // sass-lint:disable-line force-attribute-nesting
  .icn {
    &--open {
      display: none;
    }

    &--close {
      display: block;
    }

    &--xpd {
      transform: rotateZ(180deg);
    }
  }
}

@media screen and (min-width: 50em) {
  details {
    &[desktop-open] {
      summary {
        .item {
          .icn { // sass-lint:disable-line nesting-depth
            display: none;
          }
        }
      }
    }
  }
}
