.overlay {
  top: 0;
  left: 0;
  transition: opacity 350ms ease-in-out, visibility 350ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  background: var(--cpri);
  width: 100%;
  height: 100%;

  &[open] {
    visibility: visible;
    opacity: 0.75;
  }
}
