-
  var model = {
    items: [{
      title: '...',
      href: '#'
    }, {
      title: 'Pénzmosás ellen',
      href: '#'
    }, {
      title: 'Kötelező és irányadó jogszabályok',
      href: '#'
    }]
  }
<!-- breadcrumb -->
#breadcrumb.breadcrumb.no-mobile
  ol.hstk.hstk-xs.ai-c.bd.bd-s.tt-uc
    each i, idx in model.items
      li
        if (idx < model.items.length - 1)
          a.item(href=i.href)
            span.in
              span.lbl.fw-b= i.title
              span.iwrp: svg.icn.icn-xs: use(xlink:href='#i-l-chevron-right')
        else
          span.item
            span.in
              span.lbl
                span.vh Aktuális oldal:
                span= i.title
