<!-- footer -->
<footer class="footer lyt-parent">
  <div class="follow lyt-left pad pad-xl">
    <div class="stk stk-xl">
      <div class="iwrp">
        <svg class="logo"><use xlink:href="#i-logo"/></svg>
      </div>
      <div>
        <ul class="social stk stk-xs ai-c">
          <li>
            <a class="ibtn" href="#">
              <span class="vh">Instagram</span>
              <svg class="icn"><use xlink:href="#i-soc-ig"/></svg>
            </a>
          </li>
          <li>
            <a class="ibtn" href="#">
              <span class="vh">Twitter</span>
              <svg class="icn"><use xlink:href="#i-soc-tw"/></svg>
            </a>
          </li>
          <li>
            <a class="ibtn" href="#">
              <span class="vh">Facebook</span>
              <svg class="icn"><use xlink:href="#i-soc-fb"/></svg>
            </a>
          </li>
          <li>
            <a class="ibtn" href="#">
              <span class="vh">YouTube</span>
              <svg class="icn"><use xlink:href="#i-soc-yt"/></svg>
            </a>
          </li>
          <li>
            <a class="ibtn" href="#">
              <span class="vh">Sellsy</span>
              <svg class="icn"><use xlink:href="#i-soc-sy"/></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sitemap lyt-fluid pad pad-xl hpad hpad-xl">
    <span class="vh">Oldaltérkép</span>
    <div class="stk stk-xl">
      <nav class="footer-nav">
        <ul class="hstk hstk-m ai-fs m-fd-c">
          <li class="fill">
            <details class="stk stk-xs" desktop-open>
              <summary>
                <span class="item">
                  <span class="in">
                    <span class="lbl ttl ttl-xs ls">Ügyfeleinknek</span>
                    <span class="iwrp">
                      <svg class="icn icn-s icn--open"><use xlink:href="#i-l-plus-circle"/></svg>
                      <svg class="icn icn-s icn--close"><use xlink:href="#i-l-minus-circle"/></svg>
                    </span>
                  </span>
                </span>
              </summary>
              <ul class="stk stk-xs">
                <li><a href="#">WeBeC</a></li>
                <li><a href="#">Készpénzfórum</a></li>
                <li><a href="#">Hamisítás megelőzése</a></li>
                <li><a href="#">Elektronikus számlázás</a></li>
                <li><a href="#">Bankszámlavezetés üzleti feltételei</a></li>
                <li><a href="#">Jegybanki tenderek</a></li>
                <li><a href="#">Beszerzési eljárások</a></li>
              </ul>
            </details>
          </li>
          <li class="fill">
            <details class="stk stk-xs" desktop-open>
              <summary>
                <span class="item">
                  <span class="in">
                    <span class="lbl ttl ttl-xs ls">Fogyasztóknak</span>
                    <span class="iwrp">
                      <svg class="icn icn-s icn--open"><use xlink:href="#i-l-plus-circle"/></svg>
                      <svg class="icn icn-s icn--close"><use xlink:href="#i-l-minus-circle"/></svg>
                    </span>
                  </span>
                </span>
              </summary>
              <ul class="stk stk-xs">
                <li><a href="#">Mit tegyünk, ha pénzügyi panaszunk van?</a></li>
                <li><a href="#">Ügyfélszolgálat</a></li>
                <li><a href="#">Pénzügyi Békéltető Testület</a></li>
                <li><a href="#">Figyelmeztetések</a></li>
                <li><a href="#">Alkalmazások</a></li>
                <li><a href="#">Pénzügyi Navigátor</a></li>
                <li><a href="#">Tanácsadó Irodahálózat</a></li>
              </ul>
            </details>
          </li>
          <li class="fill">
            <details class="stk stk-xs" desktop-open>
              <summary>
                <span class="item">
                  <span class="in">
                    <span class="lbl ttl ttl-xs ls">Gyorshivatkozások</span>
                    <span class="iwrp">
                      <svg class="icn icn-s icn--open"><use xlink:href="#i-l-plus-circle"/></svg>
                      <svg class="icn icn-s icn--close"><use xlink:href="#i-l-minus-circle"/></svg>
                    </span>
                  </span>
                </span>
              </summary>
              <ul class="stk stk-xs">
                <li><a href="#">Jelentések</a></li>
                <li><a href="#">A Monetáris Tanács ülésezési rendje</a></li>
                <li><a href="#">Közlemények a Monetáris Tanács üléseiről</a></li>
                <li><a href="#">Kamatmeghatározó ülések jegyzőkönyvei</a></li>
                <li><a href="#">Közérdekű adatok</a></li>
                <li><a href="#">Az MNB hivatalos devizaárfolyamai</a></li>
                <li><a href="#">Statisztikai publikációs naptár</a></li>
              </ul>
            </details>
          </li>
          <li class="fill contact">
            <div class="stk stk-xs">
              <span class="item">
                <span class="in">
                  <span class="lbl ttl ttl-xs ls">Magyar Nemzeti Bank</span>
                </span>
              </span>
              <div class="stk stk-xs">
                <dl>
                  <dt class="vh">Cím</dt>
                  <dd class="hstk hstk-xs">
                    <svg class="icn icn-s"><use xlink:href="#i-landmark"/></svg>
                    <address>1054 Budapest, Szabadság tér 9.</address>
                  </dd>
                  <dt class="vh">Telefonszám</dt>
                  <dd class="hstk hstk-xs">
                    <svg class="icn icn-s"><use xlink:href="#i-phone"/></svg>
                    <a href="tel:">+36 1 428 2600</a>
                  </dd>
                  <dt class="vh">Fax</dt>
                  <dd class="hstk hstk-xs">
                    <svg class="icn icn-s"><use xlink:href="#i-fax"/></svg>
                    <span>+36 1 429 8000</span>
                  </dd>
                  <dt class="vh">Email cím</dt>
                  <dd class="hstk hstk-xs">
                    <svg class="icn icn-s"><use xlink:href="#i-envelope"/></svg>
                    <a href="mailto:">info@mnb.hu</a>
                  </dd>
                </dl>
                <span class="fw-b">Ügyfélszolgálat</span>
                <dl>
                  <dt class="vh">Cím</dt>
                  <dd class="hstk hstk-xs">
                    <svg class="icn icn-s">
                      <use xlink:href="#i-location-arrow"/>
                    </svg>
                    <address>1013 Budapest, Krisztina krt. 39.</address>
                  </dd>
                  <dt class="vh">Telefonszám</dt>
                  <dd class="hstk hstk-xs">
                    <svg class="icn icn-s"><use xlink:href="#i-phone"/></svg>
                    <a href="tel:">+36 80 203 776</a>
                  </dd>
                  <dt class="vh">Email cím</dt>
                  <dd class="hstk hstk-xs">
                    <svg class="icn icn-s"><use xlink:href="#i-envelope"/></svg>
                    <a href="mailto:">ugyfelszolgalat@mnb.hu</a>
                  </dd>
                </dl>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <p class="legal">
        <span>&copy; Magyar Nemzeti Bank</span> |
        <a href="#">Impresszum</a> |
        <a href="#">Jogi nyilatkozat</a> |
        <a href="#">Adatkezelési tájékoztató</a> |
        <a href="#">Süti tájékoztató</a> |
        <a href="#">Gyakorlati tudnivalók a honlappal kapcsolatban</a>
      </p>
    </div>
  </div>
</footer>
