<!-- hero-social -->
<div class="hero-social lyt-left lyt-offset-target no-mobile">
  <ul class="social stk stk-xs ai-c">
    <li>
      <a class="ibtn" href="#">
        <span class="vh">Instagram</span>
        <svg class="icn"><use xlink:href="#i-soc-ig"/></svg>
      </a>
    </li>
    <li>
      <a class="ibtn" href="#">
        <span class="vh">Twitter</span>
        <svg class="icn"><use xlink:href="#i-soc-tw"/></svg>
      </a>
    </li>
    <li>
      <a class="ibtn" href="#">
        <span class="vh">Facebook</span>
        <svg class="icn"><use xlink:href="#i-soc-fb"/></svg>
      </a>
    </li>
    <li>
      <a class="ibtn" href="#">
        <span class="vh">YouTube</span>
        <svg class="icn"><use xlink:href="#i-soc-yt"/></svg>
      </a>
    </li>
    <li>
      <a class="ibtn" href="#">
        <span class="vh">Sellsy</span>
        <svg class="icn"><use xlink:href="#i-soc-sy"/></svg>
      </a>
    </li>
  </ul>
</div>
