<!-- hero-aside -->
<aside class="hero-aside lyt-right">
  <div class="in pad pad-l hpad hpad-l">
    <details desktop-open>
      <summary>
        <span class="item">
          <span class="in">
            <span class="lbl ttl ttl-s">Kiemelt témák</span>
            <span class="iwrp">
              <svg class="icn icn-s icn--open"><use xlink:href="#i-l-plus-circle"/></svg>
              <svg class="icn icn-s icn--close"><use xlink:href="#i-l-minus-circle"/></svg>
            </span>
          </span>
        </span>
      </summary>
      <ul class="items">
        <li>
          <a class="item" href="#">
            <span class="in">
              <span class="iwrp">
                <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-right"/></svg>
              </span>
              <span class="lbl">Növekedési Kötvényprogram</span>
            </span>
          </a>
        </li>
        <li>
          <a class="item" href="#">
            <span class="in">
              <span class="iwrp">
                <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-right"/></svg>
              </span>
              <span class="lbl">Piaci szereplők keresése</span>
            </span>
          </a>
        </li>
        <li>
          <a class="item" href="#">
            <span class="in">
              <span class="iwrp">
                <svg class="icn icn-s icn--bull"><use xlink:href="#i-l-arrow-circle-right"/></svg>
              </span>
              <span class="lbl">Értékpapírszámla</span>
            </span>
          </a>
        </li>
      </ul>
    </details>
  </div>
</aside>
