html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title MNB

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="./s.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,500;0,600;0,700;1,300&family=Public+Sans:wght@300;400;500;700&display=swap">
  body
    include symbols
    .page
      include nav
      include search
      block main

      include mission
      include back-to-top
      include footer
      include overlay

    script.
      (function (w, d, u) {
        var maxW = 800;

        var layerCtrls = Array.from(d.querySelectorAll('.lyr-ctrl'));
        var layerCloses = Array.from(d.querySelectorAll('.lyr-close'));
        var overlay = d.getElementById('overlay');
        var { body } = d;
        var layoutRecalc = [];

        var openDetails = Array.from(d.querySelectorAll('[desktop-open]'));

        var getVw = () => Math.max(d.documentElement.clientWidth || 0, w.innerWidth || 0);

        var isMobile = getVw() <= maxW;

        var handleOpenDetails = () => {
          if (isMobile) { return; }
          openDetails.forEach((el) => {
            el.open = true;
            el.querySelector('summary').addEventListener('click', (e) => {
              e.preventDefault();
            });
          });
        };
        layoutRecalc.push(handleOpenDetails);

        var handleIsMobile = () => {
          isMobile = getVw() <= maxW;
        };
        layoutRecalc.push(handleIsMobile);

        layerCtrls.forEach((el) => el.addEventListener('click', () => {
          const id = el.getAttribute('aria-controls');
          const layer = d.getElementById(id);
          const openedLayers = Array.from(d.querySelectorAll('.lyr[open]'));
          if (layer.hasAttribute('open')) {
            el.setAttribute('aria-active', 'false');
            layer.removeAttribute('open');
            if (openedLayers.length === 1) {
              overlay.removeAttribute('open');
              body.removeAttribute('overlay');
            }
          } else {
            el.setAttribute('aria-active', 'true');
            layer.setAttribute('open', '');
            overlay.setAttribute('open', '');
            body.setAttribute('overlay', '');
            window.scrollTo(0, 0);
          }
        }));

        layerCloses.forEach((el) => el.addEventListener('click', () => {
          const id = el.getAttribute('aria-controls');
          const layer = d.getElementById(id);
          const openedLayers = Array.from(d.querySelectorAll('.lyr[open]'));
          el.setAttribute('aria-active', 'false');
          layer.removeAttribute('open');
          if (openedLayers.length === 1) {
            overlay.removeAttribute('open');
            body.removeAttribute('overlay');
          }
        }));

        overlay.addEventListener('click', () => {
          const layer = d.querySelector('.lyr[open]');
          const layerCtrl = d.querySelector('.lyr-ctrl[aria-active="true"]');
          const openedLayers = Array.from(d.querySelectorAll('.lyr[open]'));
          layerCtrl.setAttribute('aria-active', 'false');
          layer.removeAttribute('open');
          if (openedLayers.length === 1) {
            overlay.removeAttribute('open');
            body.removeAttribute('overlay');
          }
        });

        window.addEventListener('orientationchange', () => {
          layoutRecalc.forEach((cb) => cb());
        });

        window.addEventListener('resize', () => {
          layoutRecalc.forEach((cb) => cb());
        });

        layoutRecalc.forEach((cb) => cb());

      })(window, document);
