<!-- mission -->
<div class="mission lyt-parent pad pad-xl no-mobile">
  <div class="lyt-left iwrp">
    <svg class="icn icn-l"><use xlink:href="#i-l-quote-right"/></svg>
  </div>
  <div class="lyt-fluid">
    <em class="ttl ttl-s fw-l">Az MNB elsődleges célja az árstabilitás elérése és fenntartása. Az MNB elsődleges céljának veszélyeztetése nélkül támogatja a pénzügyi közvetítőrendszer stabilitásának fenntartását, ellenállóképességének növelését, a gazdasági növekedéshez való fenntartható hozzájárulásának biztosítását és a rendelkezésére álló eszközökkel a Kormány gazdaságpolitikáját.</em>
  </div>
</div>
