<!-- nav -->
<nav class="nav" aria-describedby="nav-title">
  <span id="nav-title" class="vh">Főmenü</span>
  <ul class="lyt-parent">
    <li class="lyt-left">
      <a class="iwrp" href="#">
        <svg class="logo"><use xlink:href="#i-logo"/></svg>
        <span class="vh">Magyar Nemzeti Bank</span>
      </a>
    </li>
    <li class="lyt-fluid no-mobile">
      <ul class="menu hstk hstk-s ai-c">
        <li>
          <button class="item lyr-ctrl" aria-controls="nav-sec" aria-active="false">
            <span class="in">
              <span class="iwrp">
                <svg class="icn icn-2xs icn--xpd"><use xlink:href="#i-angle-down"/></svg>
              </span>
              <span class="lbl bd bd-s fw-sb tt-uc">Területek</span>
            </span>
          </button>
        </li>
        <li>
          <button class="item lyr-ctrl" aria-controls="nav-sec" aria-active="false">
            <span class="in">
              <span class="iwrp">
                <svg class="icn icn-2xs icn--xpd"><use xlink:href="#i-angle-down"/></svg>
              </span>
              <span class="lbl bd bd-s fw-sb tt-uc">A jegybank</span>
            </span>
          </button>
        </li>
        <li>
          <a class="item" href="#">
            <span class="in">
              <span class="lbl bd bd-s fw-r tt-uc">Sajtószoba</span>
            </span>
          </a>
        </li>
        <li>
          <a class="item" href="#">
            <span class="in">
              <span class="lbl bd bd-s fw-r tt-uc">Kiadványok</span>
            </span>
          </a>
        </li>
        <li>
          <a class="item" href="#">
            <span class="in">
              <span class="lbl bd bd-s fw-r tt-uc">Hírek</span>
            </span>
          </a>
        </li>
        <li>
          <a class="item" href="#">
            <span class="in">
              <span class="lbl bd bd-s fw-r tt-uc">Kapcsolat</span>
            </span>
          </a>
        </li>
        <li>
          <a class="item" href="#">
            <span class="in">
              <span class="lbl bd bd-s fw-r tt-uc">Karrier</span>
            </span>
          </a>
        </li>
        <li>
          <a class="item" href="#">
            <span class="in">
              <span class="lbl bd bd-s fw-r tt-uc">Pénzmúzeum</span>
            </span>
          </a>
        </li>
        <li class="split-right">
          <a class="ibtn no-mobile" href="#">
            <span class="icn">EN</span>
          </a>
        </li>
        <li>
          <a class="ibtn no-mobile" href="#">
            <svg class="icn"><use xlink:href="#i-l-lock"/></svg>
            <span class="vh">???</span>
          </a>
        </li>
        <li>
          <button class="ibtn lyr-ctrl" aria-controls="search-form" aria-active="false">
            <svg class="icn"><use xlink:href="#i-l-search"/></svg>
            <span class="vh">Keresés</span>
          </button>
        </li>
        <li>
          <button class="ibtn lyr-ctrl no-desktop" aria-controls="nav-mob" aria-active="false">
            <svg class="icn"><use xlink:href="#i-l-bars"/></svg>
            <span class="vh">Menü</span>
          </button>
        </li>
      </ul>
    </li>
  </ul>
</nav>
