<nav id="nav-mob" class="nav-mob lyr lyr-top" aria-describedby="nav-mob-title">
  <span id="nav-mob-title" class="vh">Menü</span>

  <ul class="hdr hstk jc-sb pad pad-m hpad hpad-m">
    <li>
      <a class="iwrp" href="#">
        <svg class="logo"><use xlink:href="#i-logo"/></svg>
        <span class="vh">Magyar Nemzeti Bank</span>
      </a>
    </li>
    <li>
      <button class="ibtn lyr-close" aria-controls="nav-mob">
        <svg class="icn"><use xlink:href="#i-l-times"/></svg>
        <span class="vh">Menü bezárása</span>
      </button>
    </li>
  </ul>

  <ul class="menu fill scrl">
    <li>
      <details>
        <summary>
          <span class="item">
            <span class="in">
              <span class="lbl bd bd-m fw-b tt-uc ls">Területek</span>
              <span class="iwrp">
                <svg class="icn icn--xpd"><use xlink:href="#i-angle-down"/></svg>
              </span>
            </span>
          </span>
        </summary>
        <ul class="items">
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Statisztika</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Monetáris politika</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Kutatás</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Szanálás</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Pénzügyi stabilitás</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Pénzforgalom</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Bankjegy és érme</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Felügyelet</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Békéltetés</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Fogyasztóvédelem</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary>
          <span class="item">
            <span class="in">
              <span class="lbl bd bd-m fw-b tt-uc ls">A jegybank</span>
              <span class="iwrp">
                <svg class="icn icn--xpd"><use xlink:href="#i-angle-down"/></svg>
              </span>
            </span>
          </span>
        </summary>
        <ul class="items">
          <li>
            <button class="item lyr-ctrl" aria-controls="sub-1" aria-active="false">
              <span class="in">
                <span class="lbl bd bd-m fw-r tt-uc ls">Statisztika</span>
                <span class="iwrp">
                  <svg class="icn"><use xlink:href="#i-l-arrow-circle-right"/></svg>
                </span>
              </span>
            </button>
          </li>
        </ul>
      </details>
    </li>

    <li>
      <a class="item" href="#">
        <span class="in">
          <span class="lbl bd bd-m fw-b tt-uc ls">Sajtószoba</span>
        </span>
      </a>
    </li>

    <li>
      <a class="item" href="#">
        <span class="in">
          <span class="lbl bd bd-m fw-b tt-uc ls">Kiadványok</span>
        </span>
      </a>
    </li>

    <li>
      <a class="item" href="#">
        <span class="in">
          <span class="lbl bd bd-m fw-b tt-uc ls">Hírek és publikációk</span>
        </span>
      </a>
    </li>

    <li>
      <a class="item" href="#">
        <span class="in">
          <span class="lbl bd bd-m fw-b tt-uc ls">Kapcsolat</span>
        </span>
      </a>
    </li>

    <li>
      <a class="item" href="#">
        <span class="in">
          <span class="lbl bd bd-m fw-b tt-uc ls">Karrier</span>
        </span>
      </a>
    </li>
  </ul>

  <ul class="buttons hstk hstk-xs ai-c jc-fs pad pad-m hpad hpad-m">
    <li>
      <a class="ibtn" href="#">
        <span class="icn">EN</span>
      </a>
    </li>
    <li>
      <a class="ibtn" href="#">
        <svg class="icn"><use xlink:href="#i-l-lock"/></svg>
        <span class="vh">???</span>
      </a>
    </li>
  </ul>

  <ul class="social hstk hstk-xs jc-sb pad pad-s hpad hpad-s">
    <li>
      <a class="ibtn" href="#">
        <span class="vh">Instagram</span>
        <svg class="icn"><use xlink:href="#i-soc-ig"/></svg>
      </a>
    </li>
    <li>
      <a class="ibtn" href="#">
        <span class="vh">Twitter</span>
        <svg class="icn"><use xlink:href="#i-soc-tw"/></svg>
      </a>
    </li>
    <li>
      <a class="ibtn" href="#">
        <span class="vh">Facebook</span>
        <svg class="icn"><use xlink:href="#i-soc-fb"/></svg>
      </a>
    </li>
    <li>
      <a class="ibtn" href="#">
        <span class="vh">YouTube</span>
        <svg class="icn"><use xlink:href="#i-soc-yt"/></svg>
      </a>
    </li>
    <li>
      <a class="ibtn" href="#">
        <span class="vh">Sellsy</span>
        <svg class="icn"><use xlink:href="#i-soc-sy"/></svg>
      </a>
    </li>
  </ul>
</nav>
