-
  var model = {
    title: 'Területek',
    items: [{
      title: 'Statisztika',
      items: [{
        title: 'Statisztikai publikációs naptár',
        href: '#'
      }, {
        title: 'Statisztikai adatok, információk',
        href: '#'
      }, {
        title: 'Információk adatszolgáltatóknak',
        href: '#'
      }],
      href: '#'
    }, {
      title: 'Monetáris politika',
      items: [{
        title: 'A Monetáris Tanács',
        href: '#'
      }, {
        title: 'A monetáris politikai eszköztár',
        href: '#'
      }, {
        title: 'Növekedési Hitelprogram (NHP)',
        href: '#'
      }],
      href: '#'
    }, {
      title: 'Kutatás',
      items: [{
        title: 'Kutatási tevékenység a Magyar Nemzeti Bankban',
        href: '#'
      }, {
        title: 'Konferenciák és szemináriumok',
        href: '#'
      }, {
        title: 'Együttműködési Program 2020',
        href: '#'
      }],
      href: '#'
    }, {
      title: 'Szanálás',
      items: [{
        title: 'A Szanálási Alap',
        href: '#'
      }, {
        title: 'A szanálásról és a szanálási célokról',
        href: '#'
      }, {
        title: 'A szanálási eszközök',
        href: '#'
      }],
      href: '#'
    }, {
      title: 'Pénzügyi stabilitás',
      items: [{
        title: 'A pénzügyi stabilitás fogalma',
        href: '#'
      }, {
        title: 'KKV hitelinformációs rendszer',
        href: '#'
      }, {
        title: 'Pénzügyi Stabilitási Tanács',
        href: '#'
      }],
      href: '#'
    }, {
      title: 'Pénzforgalom',
      items: [{
        title: 'Azonnali fizetés',
        href: '#'
      }, {
        title: 'Fizetési számla irányelv (PAD',
        href: '#'
      }, {
        title: 'Az MNB mint pénzforgalmi hatóság',
        href: '#'
      }],
      href: '#'
    }, {
      title: 'Bankjegy és érme',
      items: [{
        title: 'Hamisítás megelőzése',
        href: '#'
      }, {
        title: 'Pénztári szolgáltatások lakosság részére',
        href: '#'
      }, {
        title: 'Információk a pénzügyi szféra számára',
        href: '#'
      }],
      href: '#'
    }, {
      title: 'Felügyelet',
      items: [{
        title: 'Felügyeleti keretrendszer',
        href: '#'
      }, {
        title: 'Értékpapírosítás',
        href: '#'
      }, {
        title: 'Engedélyezés és intézményfelügyelés',
        href: '#'
      }],
      href: '#'
    }]
  }

nav#nav-sec.nav-sec.lyr.lyr-top(aria-describedby='nav-sec-title')
  span#nav-sec-title.vh= model.title
  .lyt-parent.scrl
    .lyt-left
    .lyt-fluid
      ul.menu-sec.grd.grd-m.grd-3.ai-c.hpad.hpad-xl
        each i in model.items
          li
            .stk.stk-s
              span.ttl.ttl-s= i.title
              ul
                each j in i.items
                  li
                    a.item(href=j.href)
                      span.in
                        span.iwrp: svg.icn.icn-s.icn--bull: use(xlink:href='#i-l-arrow-circle-right')
                        span.lbl.bd.bd-m.fw-l= j.title
              a.item.item--all(href=i.href)
                span.in
                  span.bd.bd-m.fw-b Mind
                  span.iwrp: svg.icn.icn-s: use(xlink:href='#i-l-arrow-circle-right')
        li
          ul.items
            li
              a.item(href='#')
                span.in
                  span.lbl.ttl.ttl-s Békéltetés
                  span.iwrp: svg.icn.icn-s: use(xlink:href='#i-l-external-link-square')
            li
              a.item(href='#')
                span.in
                  span.lbl.ttl.ttl-s Fogyasztóvédelem
                  span.iwrp: svg.icn.icn-s: use(xlink:href='#i-l-external-link-square')
