-
  var model = {
    title: 'Felügyelet',
    items: [{
      title: 'Felügyeleti keretrendszer',
      href: null,
      items: [{
        title: 'Elem #1',
        href: '#'
      }]
    }, {
      title: 'Értékpapírosítás',
      href: null,
      items: [{
        title: 'Elem #1',
        href: '#'
      }]
    }, {
      title: 'Jogértelmezési kérdések és válaszok',
      href: null,
      items: [{
        title: 'Elem #1',
        href: '#'
      }]
    }, {
      title: 'Szabályozás',
      href: null,
      items: [{
        title: 'Jogszabályok',
        href: '#'
      }, {
        title: 'Informatikai felügyelet',
        href: null,
        items: [{
          title: 'Elem #1',
          href: '#'
        }]
      }, {
        title: 'Felügyeleti szabályozó eszközök',
        href: '#'
      }, {
        title: 'Állásfoglalások',
        href: '#'
      }, {
        title: 'Pénzmosás ellen',
        items: [{
          title: 'Kötelező és irányadó szabályok',
          href: '#'
        }, {
          title: 'Szabályzatok, segédletek',
          href: '#'
        }, {
          title: 'Korlátozó intézkedések, szankciók',
          href: '#'
        }, {
          title: 'Fontos információk, dokumentumok',
          href: '#'
        }, {
          title: 'Archívum mintaszabályzatok',
          href: '#'
        }]
      }, {
        title: 'IFRS/IFRS 9',
        items: []
      }, {
        title: 'CSDR',
        href: '#'
      }, {
        title: 'PPA rendelet',
        href: '#'
      }, {
        title: 'CRD/CRR',
        items: []
      }, {
        title: 'Szolvencia II',
        items: []
      }, {
        title: 'MiFID/MiFIR',
        href: '#'
      }, {
        title: 'EMIR',
        href: '#'
      }, {
        title: 'MAD/MAR',
        href: '#'
      }, {
        title: 'Nemzetközi felügyeleti intézmények',
        href: '#'
      }, {
        title: 'E-ügyintézés',
        href: '#'
      }]
    }, {
      title: 'Engedélyezés és intézményfelügyelés',
      items: []
    }, {
      title: 'Piacfelügyelet',
      items: []
    }, {
      title: 'Adatszolgáltatás',
      items: []
    }, {
      title: 'Idősorok',
      items: []
    }, {
      title: 'Hatósági vizsga',
      items: []
    }, {
      title: 'Felügyeleti hírek',
      href: '#'
    }, {
      title: 'Bejelentések',
      href: '#'
    }]
  }

nav#sub-1.nav-mob-sec.lyr.lyr-right
  .hstk.hstk-xs.pad.pad-m.hpad.hpad-m
    button.ibtn.lyr-close(aria-controls='sub-1')
      span.vh Vissza
      svg.icn: use(xlink:href='#i-l-arrow-circle-left')
    span.bd.bd-xl.fw-b.ls= model.title
  ul.items.scrl
    each i in model.items
      li
        if (i.href)
          a.item(href=i.href)
            span.in
              span.lbl.bd.bd-m.fw-r= i.title
        else
          details
            summary
              span.item
                span.in
                  span.lbl.bd.bd-m.fw-m= i.title
                  span.iwrp
                    svg.icn.icn--open: use(xlink:href='#i-l-plus-circle')
                    svg.icn.icn--close: use(xlink:href='#i-l-minus-circle')
            ul.items
              each j in i.items
                li
                  if (j.href)
                    a.item(href=j.href)
                      span.in
                        span.lbl.bd.bd-m.fw-r= j.title
                  else
                    details
                      summary
                        span.item
                          span.in
                            span.lbl.bd.bd-m.fw-m= j.title
                            span.iwrp
                              svg.icn.icn--open: use(xlink:href='#i-l-plus-circle')
                              svg.icn.icn--close: use(xlink:href='#i-l-minus-circle')
                      ul.items
                        each k in j.items
                          li
                            if (k.href)
                              a.item(href=k.href)
                                span.in
                                  span.lbl.bd.bd-m.fw-r= k.title
