<!-- newsletter -->
<div class="newsletter lyt-parent pad pad-xl m-fd-c ai-c">
  <div class="lyt-left iwrp">
    <svg class="icn icn-l"><use xlink:href="#i-l-stream"/></svg>
    <svg class="icn icn-l"><use xlink:href="#i-l-envelope"/></svg>
  </div>
  <div class="lyt-fluid">
    <div class="hstk hstk-m ai-c m-fd-c">
      <p class="fill ttl ttl-s">Iratkozzon fel a terület híreire, hogy naprakész legyen!</p>
      <hr class="no-desktop">
      <div class="fill hstk hstk-m ai-c m-fd-c">
        <p class="ttl ttl-s">Hasznosnak találta az oldalt?</p>
        <div class="split-right buttons">
          <div class="hstk hstk-m ai-c">
            <button class="ibtn ibtn-l">
              <svg class="icn icn-l">
                <use xlink:href="#i-l-smile"/>
              </svg>
              <span class="vh">Igen</span>
            </button>
            <button class="ibtn ibtn-l">
              <svg class="icn icn-l"><use xlink:href="#i-l-meh"/></svg>
              <span class="vh">Nem</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
