<form id="search-form" class="search-form lyr lyr-top" method="post" aria-describedby="search-form-title">
  <span id="search-form-title" class="vh">Keresés</span>
  <span class="hstk hstk-xs ai-c hpad hpad-m">
    <input type="text" name="query" placeholder="Írja be a keresett kifejezést…"/>
    <button class="ibtn" type="submit">
      <span class="vh">Keresés</span>
      <svg class="icn"><use xlink:href="#i-l-search"/></svg>
    </button>
    <button class="ibtn lyr-close">
      <span class="vh">Bezárás</span>
      <svg class="icn"><use xlink:href="#i-l-times"/></svg>
    </button>
  </span>
</form>
