.c-txt .cb-file {
  display: flex;
  align-items: center;
  background: var(--cbrl);
  min-height: var(--hcbfile);
  text-decoration: none;
  color: var(--clnk);

  .iwrp {
    border-right: var(--bws) solid var(--cbrn);
    width: var(--hcbfile);
    height: var(--hcbfile);
  }

  .lbl {
    padding: var(--g2xs) var(--g); // sass-lint:disable-line shorthand-values
    line-height: var(--lhm);
    font-weight: var(--fwb);
  }
}
