.c-sct { // lyt-parent
  display: flex;
  background: var(--cbrl);
  padding: var(--gxl) 0;

  > .in { // lyt-fluid
    border-left: var(--bwm) solid var(--cdrk);
    padding: var(--g2xs) var(--gxl) var(--g2xs) var(--gxl); // sass-lint:disable-line shorthand-values
  }

  > .iwrp {
    align-self: flex-start;
    padding: var(--g2xs) 0;
    color: var(--cdrk);
  }

  .item {
    #{--bgi}: transparent;
  }
}

@media screen and (max-width: 50em) {
  .c-sct {
    padding: var(--g) 0;

    > .in {
      border-left: 0;
      padding: var(--g2xs) var(--g); // sass-lint:disable-line shorthand-values
    }

    .grd { #{--col}: 1; }
  }
}
