.c-txt {
  flex: 1;
  padding: var(--g2xl) var(--gxl) var(--g2xl) var(--wlytlft); // sass-lint:disable-line shorthand-values

  > * {
    max-width: 100%;
  }

  > * + * {
    margin-top: var(--g);
  }

  .cb-file + p {
    margin-top: var(--gxl);
  }

  img {
    display: block;
    max-width: 100%;
  }

  h2,
  h3,
  h4 {
    #{--fs}: var(--fstl);

    font-family: var(--ffb);
    font-size: var(--fs);
    font-weight: var(--fwb);
  }

  h2 { #{--fs}: var(--fstl); }
  h3 { #{--fs}: var(--fstm); }
  h4 { #{--fs}: var(--fsts); }

  a {
    text-decoration: underline;
    color: var(--clnk);

    &:hover {
      text-decoration: none;
    }
  }

  // FIXME: hack
  font {
    &[size='1'] {
      font-size: var(--fsbm);
    }

    &[size='4'] {
      font-size: var(--fsbxl);
    }
  }

  blockquote {
    border-left: var(--bwm) solid var(--cb2x);
    padding-left: var(--g);
    font-family: var(--ffb);
    font-size: var(--fsts);
    font-style: italic;

    // FIXME: hack
    blockquote {
      border: 0;
      padding: 0;
    }
  }

  ul,
  ol {
    padding-left: var(--g);

    li {
      &::marker {
        color: var(--cdrk);
      }
    }

    li + li {
      margin-top: var(--gxs);
    }
  }

  ul {
    list-style: square;
  }

  ol {
    list-style: decimal;

    li {
      &::marker {
        font-family: var(--ffb);
        font-weight: var(--fwb);
      }
    }
  }

  table {
    width: 100%;

    td,
    th {
      padding: var(--gs);
      text-align: center;
      font-size: var(--fsbl);
    }

    thead {
      td,
      th {
        background: var(--cbrx);
        font-weight: var(--fwb);
      }
    }

    tbody {
      td {
        border-top: var(--bws) solid #fff;
      }

      tr {
        &:nth-child(2n) {
          td {
            background: var(--cbrl);
          }
        }

        &:nth-child(2n + 1) {
          td {
            background: var(--cbrn);
          }
        }
      }
    }
  }

  .gallery {
    display: grid;
    gap: var(--gxs);
    grid-template-columns: repeat(4, 1fr);

    .gallerybox {
      position: relative;
      padding-top: 100%;
      width: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .multipart {
    display: flex;

    .flex {
      &_1 {
        flex: 1;
      }

      &_2 {
        flex: 2;
      }
    }

    > * + * {
      margin-left: var(--g);
    }
  }

  .date {
    text-transform: uppercase;
    color: var(--cdrk);
    font-size: var(--fsbm);
    font-weight: var(--fwsb);
  }

  .date + .cb-file {
    margin-top: var(--g2xs);
  }
}

@media screen and (max-width: 50em) {
  .c-txt {
    padding: var(--gxl) var(--g); // sass-lint:disable-line shorthand-values
  }
}
