.side-content {
  #{--bgsc}: var(--cbrl);

  background: var(--bgsc);
  padding-top: var(--gxl);

  .ttl {
    // FIXME: gutter
    margin: 0 1.25rem;
  }
}

@media screen and (max-width: 50em) {
  .side-content {
    #{--bgsc}: var(--ccnt);

    padding: var(--g);
  }
}
