:root { // sass-lint:disable-block no-duplicate-properties no-trailing-zero
  // NOTE: xx.xx values are for readability; will be minified after compile

  // global

  // - layout

  // NOTE: minden szekció esetén a layoutban van egy-egy fix szélességű oszlop a
  // bal és jobb oldalon is.
  #{--wlytlft}:  9.00rem;
  #{--wlytrgt}: 23.00rem;
  // NOTE: a tartalom fő hasábja rálóg a fölötte lévő szekcióra (hero)
  #{--wlytofs}:  6.25rem;

  // - color

  #{--cpri}: #22224a;
  #{--cdrk}: #867968;
  #{--clnk}: #6868e3;
  #{--cb2x}: #b0a596;
  #{--cbrx}: #d6d0c3;
  #{--cbrn}: #eae8e1;
  #{--cbrm}: #f0ede9;
  #{--cbrl}: #f7f6f3;
  #{--clgl}: #acace3;
  #{--csia}: #454596;
  #{--ccnt}: #fff;

  // - gutter

  #{--g3xs}:  0.25rem;
  #{--g2xs}:  0.50rem;
  #{--gxs}:   0.75rem;
  #{--gs}:    1.00rem;
  #{--g}:     1.50rem;
  #{--gl}:    2.00rem;
  #{--gxl}:   3.00rem;
  #{--g2xl}:  5.00rem;

  // - transition-duration

  #{––tdxs}: 150ms;

  // - border-width

  #{--bws}: 0.0625rem;
  #{--bwm}: 0.1250rem;
  #{--bwl}: 0.2500rem;

  // typography

  // - line-height

  #{--lhs}: 1.00;
  #{--lhm}: 1.25;
  #{--lhl}: 1.50;

  // - letter-spacing

  // - font-family

  #{--ffa}: 'Public Sans', sans-serif;
  #{--ffb}: 'IBM Plex Serif', sans-serif;

  // - font-size

  #{--fstxl}: 3.000rem;
  #{--fstl}:  2.250rem;
  #{--fstm}:  1.500rem;
  #{--fsts}:  1.250rem;

  #{--fsbxl}: 1.250rem;
  #{--fsbl}:  1.000rem;
  #{--fsbm}:  0.875rem;
  #{--fsbs}:  0.750rem;

  // - font-weight

  #{--fwl}:   300;
  #{--fwr}:   400;
  #{--fwm}:   500;
  #{--fwsb}:  600;
  #{--fwb}:   700;

  // atomic

  // - atoms

  // -- icon

  #{--dicn}:    1.50rem;
  #{--dicn2xs}: 0.5rem;
  #{--dicnxs}:  0.75rem;
  #{--dicns}:   1.00rem;
  #{--dicnl}:   2.00rem;

  // -- ibtn

  #{--tdibtn}: var(--tdxs);
  #{--bgibtn}: transparent;
  #{--dibtn}:  3rem;
  #{--dibtns}: 2rem;
  #{--dibtnl}: 3rem;

  // -- ilnk

  #{--hilnk}:  2rem;
  #{--cilnk}:  var(--cpri);
  #{--fsilnk}: var(--fsbm);

  // -- logo

  #{--dlogo}: 5rem;

  // forms

  // - fields

  #{--bcfld}: var(--cb2x);
  #{--hfld}:  3rem;

  // layout sections

  // - nav

  #{--hnav}: 8rem;

  // content

  // - content-block-file

  #{--hcbfile}: 3.75rem;
}

body {
  line-height: var(--lhl);
  color: var(--cpri);
  font-family: var(--ffa);
  font-weight: var(--fwl);

  &[overlay] {
    height: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 50em) {
  :root { // sass-lint:disable-block no-duplicate-properties no-trailing-zero

    // global

    // - gutter

    #{--g}: 1.25rem;

    // typography

    // - font-size

    #{--fstxl}: 1.750rem;
    #{--fstl}:  2.250rem;
    #{--fstm}:  1.500rem;
    #{--fsts}:  1.125rem;

    #{--fsbxl}: 1.250rem;
    #{--fsbl}:  1.000rem;
    #{--fsbm}:  0.875rem;
    #{--fsbs}:  0.750rem;

    // atomic

    // - atoms

    // -- icon

    #{--dicn}:  1.00rem;
    #{--dicnl}: 2.00rem;

    // -- ibtn

    #{--dibtn}:  2rem;
    #{--dibtnl}: 3rem;

    // -- logo

    #{--dlogo}: 2.5rem;

    // layout sections

    // - nav

    #{--hnav}: calc(var(--dlogo) + (2 * var(--g)));

  }
}
