// NOTE: Hide element while making it readable for screen readers
// Shamelessly borrowed from HTML5Boilerplate:
// https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
.vh {
  position: absolute;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.pad {
  #{--p}: 0;

  padding-top: var(--p);
  padding-bottom: var(--p);

  &-2xs { #{--p}: var(--g2xs); }
  &-xs  { #{--p}: var(--gxs); }
  &-s   { #{--p}: var(--gs); }
  &-m   { #{--p}: var(--g); }
  &-l   { #{--p}: var(--gl); }
  &-xl  { #{--p}: var(--gxl); }
  &-2xl { #{--p}: var(--g2xl); }
}

.hpad {
  #{--hp}: 0;

  padding-right: var(--hp);
  padding-left: var(--hp);

  &-2xs { #{--hp}: var(--g2xs); }
  &-xs  { #{--hp}: var(--gxs); }
  &-s   { #{--hp}: var(--gs); }
  &-m   { #{--hp}: var(--g); }
  &-l   { #{--hp}: var(--gl); }
  &-xl  { #{--hp}: var(--gxl); }
  &-2xl { #{--hp}: var(--g2xl); }
}

[hidden] {
  display: none;
}

.ta {
  &-l { text-align: left; }
  &-c { text-align: center; }
  &-r { text-align: right; }
}

.tt-uc { text-transform: uppercase; }

.ls { letter-spacing: 0.125rem; }

.c-pri { color: var(--cpri); }
.c-sec { color: var(--csec); }
.c-acc { color: var(--cacc); }
.c-red { color: var(--cred); }
.c-prp { color: var(--cprp); }
.c-dprp { color: var(--cdprp); }

.ff {
  &-p { font-family: var(--ff); }
}

.fw {
  &-n { font-weight: var(--fwn); }
  &-b { font-weight: var(--fwb); }
}

// Absolute fill
.abs-fill,
.abs-fill-b::before, // sass-lint:disable-line force-pseudo-nesting
.abs-fill-a::after { // sass-lint:disable-line force-pseudo-nesting
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.abs-fill-b::before, // sass-lint:disable-line force-pseudo-nesting
.abs-fill-a::after { // sass-lint:disable-line force-pseudo-nesting
  content: '';
}


@media screen and (min-width: 50.0625em) {
  .no-desktop { display: none !important; } // sass-lint:disable-line no-important
}

@media screen and (max-width: 50em) {
  .pad {
    &-l, &-xl { #{--p}: var(--g); }
  }

  .hpad {
    &-l, &-xl { #{--hp}: var(--g); }
  }

  .m-fd-c {
    flex-direction: column;

    > * + * {
      margin-top: var(--spc);
      margin-left: 0 !important; // sass-lint:disable-line no-important
    }
  }

  .m-fd-cr {
    flex-direction: column-reverse;

    > *:nth-child(1) {
      margin-bottom: 0;
    }

    > * + * {
      margin-bottom: var(--spc);
      margin-left: 0 !important; // sass-lint:disable-line no-important
    }
  }

  .no-mobile { display: none !important; } // sass-lint:disable-line no-important
}
