// NOTE: Source
// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: currentColor;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;

  &::before,
  &::after {
    content: '';
    content: none; // sass-lint:disable-line no-duplicate-properties
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
}

select {
  appearance: none;
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
}

input,
textarea,
select {
  margin: 0;
  border: 0;
  background: transparent;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

[hidden] {
  display: none;
}

details {
  > summary {
    list-style-type: none;

    &::before {
      content: '';
    }

    &::-webkit-details-marker { // sass-lint:disable-line no-vendor-prefixes
      display: none;
    }
  }

  &[open] {
    > summary {
      &::before {
        content: '';
      }
    }

    .icn--xpd {
      transform: rotateZ(180deg);
    }
  }
}
