.ttl {
  #{--ff}: var(--ffb);
  #{--fs}: var(--fstxl); // sass-lint:disable-line no-duplicate-properties
  #{--fw}: var(--fwb); // sass-lint:disable-line no-duplicate-properties

  line-height: var(--lhm);
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw);

  &-xs {
    #{--ff}: var(--ffa);
    #{--fs}: var(--fsbs); // sass-lint:disable-line no-duplicate-properties
    #{--fw}: var(--fwr); // sass-lint:disable-line no-duplicate-properties

    text-transform: uppercase;
    letter-spacing: 0.0625rem;
  }

  &-s {
    #{--fs}: var(--fsts);
    #{--fw}: var(--fwm); // sass-lint:disable-line no-duplicate-properties
  }

  &-m {
    #{--fs}: var(--fstm);
    #{--fw}: var(--fwsb); // sass-lint:disable-line no-duplicate-properties
  }

  &-l {
    #{--fs}: var(--fstl);
    #{--fw}: var(--fwb); // sass-lint:disable-line no-duplicate-properties
  }

  &-xl {
    #{--fs}: var(--fstxl);
    #{--fw}: var(--fwb); // sass-lint:disable-line no-duplicate-properties
  }
}

.bd {
  #{--ff}: var(--ffa);
  #{--fs}: var(--fsbxl); // sass-lint:disable-line no-duplicate-properties
  #{--fw}: var(--fwl); // sass-lint:disable-line no-duplicate-properties

  line-height: var(--lhl);
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw);

  &-s  { #{--fs}: var(--fsbs); }
  &-m  { #{--fs}: var(--fsbm); }
  &-l  { #{--fs}: var(--fsbl); }
  &-xl { #{--fs}: var(--fsbxl); }
}

.fw {
  &-l  { font-weight: var(--fwl); }
  &-r  { font-weight: var(--fwr); }
  &-m  { font-weight: var(--fwm); }
  &-sb { font-weight: var(--fwsb); }
  &-b  { font-weight: var(--fwb); }
}


.ls { letter-spacing: 0.0625rem; }

strong, b { font-weight: var(--fwb); }

em, i { font-style: italic; }

.tt {
  &-uc {
    text-transform: uppercase;
  }
}
